@media screen and (max-width: 1200px) {
    .body{
        padding: 30px 50px;
    }
}

@media screen and (max-width: 992px) {
    .sidebar-toggle-button, .sidebar-close-button{
        display: flex;
    }
    .body{
        padding: 30px 20px;
        padding-top: 50px;
    }
    .body__background{
        z-index: 9999;
        width: 100%;
        max-width: 300px;
        transform: translateX(-100%);
        visibility: hidden;
        transition: transform 225ms 0ms, visibility 0ms 225ms;
    }
    .body__background.active{
        transform: translateX(0%);
        visibility: visible;
        transition: transform 225ms 225ms, visibility 0ms 0ms;
    }
    .body__background__stripe{
        height: 100%;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
    .main{
        margin-inline: auto;
    }
}


@media screen and (max-width: 573px){
    .main-right{
        padding-inline: 10px;
    }
    .navigation-wrap{
        padding: 5px;
    }
}